{% extends 'themes/base.html.twig' %}

{% block title %}
    Symfony Discovery
{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Welcome</h1>
{% endblock %}

{% block footer %}
    Mexico
{% endblock %}